body {
    scroll-behavior: smooth;
    background-color: #CFDDCF;
    color:#4F7978;
}
nav {
    background-color: #CFDDCF;
}
#mission_statement {
    color: #593E35;
}
#LAC, #home, #volunteer, #events {
    color: #4F7978;
}
#about_us, #team, #donate {
    color: #F3E3C9;
    background-color: #929292;
}

/* 

nav {
    align-items: center;
    justify-content: space-evenly;
    background-color: brown;
}

ul {
    align-items: center;
    justify-content: space-evenly;
}

.inline-flex {
    position: relative;
    left: 0px;
}

.nav-bar {
    max-width: auto;
    display: flex;
    position: fixed;
    text-align: center;
    align-items: center;
    justify-content: space-between;
} */
/* section.bg-gray-50 {
    background-image: url('https://images.unsplash.com/photo-1604014237800-1c9102c219da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80');
  }
   */