* {
    scroll-behavior: smooth;
}
body {
    scroll-behavior: smooth;
    background-color: #CFDDCF;
    color:#4F7978;
}
nav {
    background-color: #CFDDCF;
}
#mission_statement {
    color: #593E35;
}
#LAC, #home, #volunteer, #events {
    color: #4F7978;
}
#about_us, #team, #donate {
    color: #F3E3C9;
    background-color: #929292;
}
#image_1, #image_2, #image_3 {
    border-radius: 15%;
    height: auto;
    width: auto;
}
.carousel-caption h5 {
    color: black;
}
#navbar {
    background-color: #CFDDCF;
    position: fixed;
    height: 102px;
    z-index: 9999;
}

footer {
    bottom: 0;
    width: 100%;
    /* background-color: #333; */
    padding: 10px;
    color: #fff;
    text-align: center;
    z-index: 9999;
  }